build
util/matrix-gen/mat1000a
util/matrix-gen/mat1000b
util/matrix-gen/mat1024a
util/matrix-gen/mat1024b
util/matrix-gen/mat128a
util/matrix-gen/mat128b
util/matrix-gen/mat16a
util/matrix-gen/mat16b
util/matrix-gen/mat2048a
util/matrix-gen/mat2048b
util/matrix-gen/mat256a
util/matrix-gen/mat256b
util/matrix-gen/mat32a
util/matrix-gen/mat32b
util/matrix-gen/mat4096a
util/matrix-gen/mat4096b
util/matrix-gen/mat4a
util/matrix-gen/mat4b
util/matrix-gen/mat512a
util/matrix-gen/mat512b
util/matrix-gen/mat64a
util/matrix-gen/mat64b
util/matrix-gen/mat8192a
util/matrix-gen/mat8192b
util/matrix-gen/mat8a
util/matrix-gen/mat8b
util/matrix-gen/matI2048
util/matrix-gen/matI4096
util/matrix-gen/mat-identity8
util/matrix-gen/strassens-mat4
util/matrix-gen/testmat2_3a
util/matrix-gen/testmat2_3b
*.swp
